<div class="container" style="margin-top:30px">
  <form name="loginForm" role="form" ng-submit="loginForm.$valid && $ctrl.login($ctrl.email, $ctrl.senha)">
    <p>
      <button type="button" class="btn btn-sm btn-danger" ng-click="$ctrl.loginComGoogle()" style="width: 100%"><i
          class="fa fa-google"></i> Login com Google
      </button>
    </p>
    <p>
      <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.loginComFacebook()" style="width: 100%"><i
          class="fa fa-facebook"></i> Login com Facebook
      </button>
    </p>
  </form>
</div>